@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #ffdce4;
    overflow: visible;
    
}
.aestheticText {
    font-family: "VT323", monospace;
    /*font-size: 2rem;*/
}

h1 {
	color: gray; /* Color name */
}

p {
	color: #57545a;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}

/*used for centering images*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

